extends base


block content 
    h4 Change Title of video
    form(method="post")
        input(name="title",placeholder="Video Tittle",value=video.title required)
        input(value="save",type="submit") 