extends base


block content 
    h4 Update Video
    form(method="post")
        input(name="title",placeholder="Video Tittle",value=video.title required)
        input(name="description",placeholder="Description",type="text",required,minlength=20,value=video.description)
        input(name="hashtags",placeholder="Hashtags,separated by comma",type="text",required,value=video.hashtags.join())
        input(value="save",type="submit") 